@model IndexViewModel
@{
	ViewData["Title"] = "Admin Page";
}
<div class="container mt-4">
	<h2 class="text-center">Yazarlar Ve Kitaplar</h2>

	<!-- Tablo Listesi -->
	<div class="row mt-4">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						@foreach (var yazar in Model.Yazarlar)
						{
							<td>@yazar.Name @yazar.Surname</td>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in Model.Yazarlar)
					{
					<td>
							@foreach (var kitap in Model.YazarKitapViewModel)
							{
								@if (yazar.Id == kitap.YazarId)
								{
									<div class="d-flex flex-column mt-4">
										<p class="mb-0 fw-bold">@kitap.KitapName</p>

										<p class="mb-0">@kitap.KitapDescription</p>
									</div>

									<div class="mt-1">
										<a href="/Admin/UpdateTable/@kitap.KitapId" class="btn btn-primary">Güncelle</a>
										<a href="/Admin/DeleteTable/@kitap.KitapId" class="btn btn-danger" onclick="return confirm('Silmek İstediğinize emin misiniz?')">Sil</a>
									</div>
								}

							}

					</td>
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Yazar Ekle, Kitap Ekle & İlişki Ekle -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazar Ekle</h5>
			<form action="/Admin/InsertYazar" method="post" autocomplete="off">
				<input type="text" class="form-control mb-2" placeholder="Yazarın Adı" name="Name" required>
				<input type="text" class="form-control mb-2" placeholder="Yazarın Soyadı" name="Surname" required>
				<input type="number" class="form-control mb-2" placeholder="Yazarın Yaşı" name="Age" required>
				<button class="btn btn-primary w-100">Yazar Ekle</button>
			</form>
		</div>
		<div class="col-md-6">
			<h5>Kitap Ekle</h5>
			<form action="/Admin/InsertKitap" method="post" autocomplete="off">
				<select class="form-control mb-2" name="YazarId">
					<option value="" selected disabled>Yazar Seçim Yapınız</option>
					 @foreach (var yazarlar in Model.Yazarlar)
					{
						<option value="@yazarlar.Id">@yazarlar.Name @yazarlar.Surname</option>
					} 
				</select>
				<input type="text" class="form-control mb-2" placeholder="Kitabın Adını Giriniz" name="Name" required>
				<input type="text" class="form-control mb-2" placeholder="Kitabın Açıklamasını Giriniz" name="Description" required>
				<button class="btn btn-primary w-100">Kitap Ekle</button>
			</form>
		</div>
	</div>


	<!-- Yazarlar & Kitaplar Listesi -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazarlar</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Yazar Adi Soyadi</th>
						<th>Yaşı</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in Model.Yazarlar)
					{
						<tr>
							<td>@yazar.Id</td>
							<td>@yazar.Name @yazar.Surname</td>
							<td>@yazar.Age</td>
							<td><a href="/Admin/UpdateYazar/@yazar.Id">güncelle</a> / <a href="/Admin/DeleteYazar/@yazar.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h5>Kitap Listesi</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Kitap Adı</th>
						<th>Kitap Açıklaması</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var kitap in Model.Kitaplar)
					{
						<tr>
							<td>@kitap.Id</td>
							<td>@kitap.Name</td>
							<td>@kitap.Description</td>
							<td><a href="/Admin/UpdateKitap/@kitap.Id">güncelle</a> / <a href="/Admin/DeleteKitap/@kitap.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>