﻿@if (TempData["InsertKitap"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Eklendi!</strong> @TempData["InsertKitap"]
	</div>
}
﻿@if (TempData["InsertKitapWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Eklenemedi!</strong> @TempData["InsertKitapWrong"]
	</div>
}
@if (TempData["UpdateKitapGetWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Bulunamadı!</strong> @TempData["UpdateKitapGetWrong"]
	</div>
}
@if (TempData["UpdateKitapWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Güncellenemedi!</strong> @TempData["UpdateKitapWrong"]
	</div>
}
@if (TempData["UpdateKitap"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Güncellendi!</strong> @TempData["UpdateKitap"]
	</div>
}
@if (TempData["DeleteKitap"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Silindi!</strong> @TempData["DeleteKitap"]
	</div>
}
@if (TempData["DeleteKitapWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Kitap Silinemedi!</strong> @TempData["DeleteKitapWrong"]
	</div>
}
@if (TempData["InsertYazarWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Eklenemedi!</strong> @TempData["InsertYazarWrong"]
	</div>
}
@if (TempData["InsertYazar"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Eklendi!</strong> @TempData["InsertYazar"]
	</div>
}
@if (TempData["UpdateYazarGetWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Bilgisi Bulunamadı!</strong> @TempData["UpdateYazarGetWrong"]
	</div>
}
@if (TempData["UpdateYazarWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Güncellenemedi!</strong> @TempData["UpdateYazarWrong"]
	</div>
}
@if (TempData["UpdateYazar"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Güncellendi!</strong> @TempData["UpdateYazar"]
	</div>
}
@if (TempData["DeleteYazar"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Silindi!</strong> @TempData["DeleteYazar"]
	</div>
}
@if (TempData["DeleteYazarWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Yazar Silinemedi!</strong> @TempData["DeleteYazarWrong"]
	</div>
}
@if (TempData["UpdateTableGetWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Ürüne ait bilgi Bulunamadı!</strong> @TempData["UpdateTableGetWrong"]
	</div>
}
@if (TempData["UpdateTableWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Güncelleme Yapılamadı!</strong> @TempData["UpdateTableWrong"]
	</div>
}
@if (TempData["UpdateTable"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Ürün Güncellendi!</strong> @TempData["UpdateTable"]
	</div>
}
@if (TempData["DeleteTable"] != null)
{
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Ürün Silindi!</strong> @TempData["DeleteTable"]
	</div>
}
@if (TempData["DeleteTableWrong"] != null)
{
	<div class="alert alert-danger alert-dismissible">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>Ürün Silinemedi!</strong> @TempData["DeleteTableWrong"]
	</div>
}




@{
	TempData["Title"] = "Admin Page";
}
<div class="container mt-4">
	<h2 class="text-center">Yazarlar Ve Kitaplar</h2>

	<!-- Tablo Listesi -->
	<div class="row mt-4">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						@foreach (var yazar in ViewBag.Yazarlar)
						{
							<td>@yazar.Name @yazar.Surname</td>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in ViewBag.Yazarlar)
					{
					<td>
							@foreach (var kitap in ViewBag.Kitaplar)
							{
								@if (yazar.Id == kitap.YazarId)
								{
									<div class="d-flex flex-column mt-4">
										<p class="mb-0 fw-bold">@kitap.Name</p>

										<p class="mb-0">@kitap.Description</p>
									</div>

									<div class="mt-1">
										<a href="/Admin/UpdateTable/@kitap.Id" class="btn btn-primary">Güncelle</a>
										<a href="/Admin/DeleteTable/@kitap.Id" class="btn btn-danger" onclick="return confirm('Silmek İstediğinize emin misiniz?')">Sil</a>
									</div>
								}

							}

					</td>
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Yazar Ekle, Kitap Ekle & İlişki Ekle -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazar Ekle</h5>
			<form action="/Admin/InsertYazar" method="post" autocomplete="off">
				<input type="text" class="form-control mb-2" placeholder="Yazarın Adı" name="Name" required>
				<input type="text" class="form-control mb-2" placeholder="Yazarın Soyadı" name="Surname" required>
				<input type="number" class="form-control mb-2" placeholder="Yazarın Yaşı" name="Age" required>
				<button class="btn btn-primary w-100">Yazar Ekle</button>
			</form>
		</div>
		<div class="col-md-6">
			<h5>Kitap Ekle</h5>
			<form action="/Admin/InsertKitap" method="post" autocomplete="off">
				<select class="form-control mb-2" name="YazarId">
					<option value="" selected disabled>Yazar Seçim Yapınız</option>
					@foreach (var yazarlar in ViewBag.Yazarlar)
					{
						<option value="@yazarlar.Id">@yazarlar.Name @yazarlar.Surname</option>
					} 
				</select>
				<input type="text" class="form-control mb-2" placeholder="Kitabın Adını Giriniz" name="Name" required>
				<input type="text" class="form-control mb-2" placeholder="Kitabın Açıklamasını Giriniz" name="Description" required>
				<button class="btn btn-primary w-100">Kitap Ekle</button>
			</form>
		</div>
	</div>


	<!-- Yazarlar & Kitaplar Listesi -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazarlar</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Yazar Adi Soyadi</th>
						<th>Yaşı</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in ViewBag.Yazarlar)
					{
						<tr>
							<td>@yazar.Id</td>
							<td>@yazar.Name @yazar.Surname</td>
							<td>@yazar.Age</td>
							<td><a href="/Admin/UpdateYazar/@yazar.Id">güncelle</a> / <a href="/Admin/DeleteYazar/@yazar.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h5>Kitap Listesi</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Kitap Adı</th>
						<th>Kitap Açıklaması</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var kitap in ViewBag.Kitaplar)
					{
						<tr>
							<td>@kitap.Id</td>
							<td>@kitap.Name</td>
							<td>@kitap.Description</td>
							<td><a href="/Admin/UpdateKitap/@kitap.Id">güncelle</a> / <a href="/Admin/DeleteKitap/@kitap.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>