@model List<YazarKitapViewModel>
@{
	ViewData["Title"] = "Admin Page";
}
<div class="container mt-4">
	<h2 class="text-center">Yazarlar Ve Kitaplar</h2>

	<!-- Teklif Listesi -->
	<div class="row mt-4">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						@foreach (var item in Model)
						{
							@foreach (var yazar in item.Yazarlar)
							{
								<td>@yazar.Name @yazar.Surname</td>
							}
							break;
						}


					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						@foreach (var yazar in item.Yazarlar)
						{
							@foreach (var kitap in item.Kitaplar)
							{
								@if (item.YazarId == kitap.Id)
								{
								<td>
									<div class="d-flex flex-column">
										<p class="mb-0 fw-bold">@kitap.Name</p>

										<p class="mb-0">@kitap.Description</p>
									</div>

									<div class="mt-1">
										<a href="/Home/UpdateTeklif/@kitap.Id" class="btn btn-primary">Güncelle</a>
										<a href="/Home/DeleteTeklif/@kitap.Id" class="btn btn-danger" onclick="return confirm('Silmek İstediğinize emin misiniz?')">Sil</a>
									</div>
								</td>


								}

							}
							break;
						}


					}


				</tbody>
			</table>
		</div>
	</div>



	<!-- Yazarlar & Kitaplar Listesi -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazarlar</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Yazar Adi Soyadi</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						@foreach (var yazar in item.Yazarlar)
						{
							<tr>
								<td>@yazar.Id</td>
								<td>@yazar.Name @yazar.Surname</td>
								<td><a href="/Home/UpdateYazar/@yazar.Id">güncelle</a> / <a href="/Home/DeleteDurum/@yazar.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
							</tr>
						}
						break;
					}

				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h5>Kitap Listesi</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Kitap Adı</th>
						<th>Kitap Açıklaması</th>
						<th>İşlem</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						@foreach (var kitap in item.Kitaplar)
						{
							<tr>
								<td>@kitap.Id</td>
								<td>@kitap.Name</td>
								<td>@kitap.Description</td>
								<td><a href="/Home/UpdateKitap/@kitap.Id">güncelle</a> / <a href="/Home/DeleteKitap/@kitap.Id" onclick="return confirm('Silmek İstediğinize emin misiniz?')">sil</a></td>
							</tr>
						}
						break;
					}

				</tbody>
			</table>
		</div>
	</div>
</div>