@model Kitap
<div class="col-md-6">
	<h5>Kitap Ekle</h5>
	<form action="/Admin/UpdateTable" method="post" autocomplete="off">
		<input type="hidden" name="Id" value="@Model.Id" />
		<select class="form-control mb-2" name="YazarId">
			@foreach (var yazarlar in ViewBag.Yazarlar)
			{
				@if (yazarlar.Id == Model.YazarId)
				{
					<option selected value="@yazarlar.Id">@yazarlar.Name @yazarlar.Surname</option>
				}
				else
				{
					<option value="@yazarlar.Id">@yazarlar.Name @yazarlar.Surname</option>
				}
			}
		</select>
		<input type="text" class="form-control mb-2" placeholder="Kitabın Adını Giriniz" name="Name" required value="@Model.Name">
		<input type="text" class="form-control mb-2" placeholder="Kitabın Açıklamasını Giriniz" name="Description" required value="@Model.Description">
		<button class="btn btn-primary w-100">Kitap Ekle</button>
	</form>
</div>