@model IndexViewModel

@{
	ViewData["Title"] = "Home Page";
}
<div class="container mt-4">
	<h2 class="text-center">Yazarlar Ve Kitaplar</h2>
	<!-- Teklif Listesi -->
	<div class="row mt-4">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						@foreach (var yazar in Model.Yazarlar)
						{
							<td>@yazar.Name @yazar.Surname</td>
						}
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in Model.Yazarlar)
					{
					<td>
							@foreach (var kitap in Model.YazarKitapViewModel)
							{
								@if (kitap.YazarId == yazar.Id)
								{
								<div class="d-flex flex-column">
									<p class="mb-0 fw-bold">@kitap.KitapName</p>

									<p class="mb-0">@kitap.KitapDescription</p>
								</div>
								}
							}
					</td>
					}
				</tbody>
			</table>
		</div>
	</div>
	<!-- Yazarlar & Kitaplar Listesi -->
	<div class="row mt-4">
		<div class="col-md-6">
			<h5>Yazarlar</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Yazar Adi Soyadi</th>
						<th>Yaşı</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var yazar in Model.Yazarlar)
					{
						<tr>
							<td>@yazar.Id</td>
							<td>@yazar.Name @yazar.Surname</td>
							<td>@yazar.Age</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h5>Kitap Listesi</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Kitap Adı</th>
						<th>Kitap Açıklaması</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var kitaplar in Model.Kitaplar)
					{
						<tr>
							<td>@kitaplar.Id</td>
							<td>@kitaplar.Name</td>
							<td>@kitaplar.Description</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
